html,body{height: 100%;width: 100%;}

div#footer {
	float: left;
	height: 5%;
	width: 100%;
	background-color: #cccccc;
}

#bread-crumbs a {
	display: block;
	text-decoration: underline;
	color: #000;
	padding: 5px;
}

div#copy_right {
	float: right;
}
