/*<input type="text" />*/
input.custom-text {
	/*ベースとなるデザイン*/
	border:0;
	padding:10px;
	font-size:1.3em;
	font-family:Arial, sans-serif;
	color:#000;
	border:solid 1px #ccc;
	margin:0 0 20px;
	width:300px;
	/*角丸*/
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/*上部にシャドウ*/
	-moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
	box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
}

/*選択時に色を変更*/
input:focus {
	border:solid 1px #EEA34A;
}


/*<select>*/
/*select.custom-select {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	text-indent: 1em;
	background:#EEE url(../img_common/arw_select_down.png) no-repeat;
	background-size:20px 10px;
	background-position: right center;
}*/
/*https://yellowglasses.jp/web/css02.html*/
select.custom-select {
	-webkit-appearance:none;
	width: 100%;
	height: 40px;
	color: #000;
	background-color: #fff;
	line-height: 40px;
	margin: 0px  0px  10px  0px; 
	padding: 0px  0px  0px  10px; 
	border:solid 1px #ccc;
	/*角丸*/
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/*上部にシャドウ*/
	-moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
	box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
}

input.custom-submit {
	color: #000;
	background-color: #fff;
}

