html,body{height: 100%;width: 100%;}

div#header {
	position: relative;
	height: 70px;
	width: 100%;
	background-color: #f2f2f2;
	margin-bottom: 10px;
}

img.header_img {
	display: block; /*imgはデフォルトだとinline*/
	background-size: contain; /*与えられたサイズから算出される最大画像*/
	height: 100%;
	margin: 0 auto;
}

/*ロゴ、アクション、カートのレイアウト指定*/
#header_left {float: left;height: 100%;width: 20%;}
#header_center {float: left;height: 100%;width: 65%;}
#header_right {float: right;height: 100%;width: 15%;}
#header_right {opacity: 0.8;}


/*アクション部=====================================*/
/*アクション部サイズ*/
#header_above,#header_below {height: 50%;width: 100%;}
/*アクション上部-------------------------------------*/
.above_element {
	height: 100%;
	float: right;
	margin-right: 10px;
	padding-top: 10px;
	color: #000;
	line-height: 100%;
	text-decoration: underline;
}
/*ログアウト時*/
#header_above > form {height: 100%;}
#header_above > form > input {
	height: 90%;
	padding: 0 0 0 10px;
	margin: auto;
	color: black;
}
#header_above > form > button {
	width: 10%;
    height: 90%;
    background: white;
}
#header_above > a > button {
	height: 100%;
	margin-top: -5px; /*ボタンだとリンクに比べて文字位置が下がるから調整*/
	background: darkgray;
}
/*アクション下部-------------------------------------*/
#header_below > form {height: 100%;}
.header_form {
	float: right;
	width: 15%;
}
#header_submit {
	height: 100%;
	width: 5%;
}
#search-text {
	padding: 0 0 0 10px; /*初期は文字が左にくっついちゃうから位置調整*/
	height: 100%;
	width: 25%;
}

select.custom-select { /*form-custom.cssからの微調整*/
	height: 100%;
	width: 15%;
	line-height: 100%;
}