/*背景グラデーション*/
div#body {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #d5d3d3), color-stop(0.00, #fff));
	background: -webkit-linear-gradient(#fff, #d5d3d3);
	background: -moz-linear-gradient(#fff, #d5d3d3);
	background: -o-linear-gradient(#fff, #d5d3d3);
	background: -ms-linear-gradient(#fff, #d5d3d3);
	background: linear-gradient(#fff, #d5d3d3);

}

/*特集IMG*/
.feature-img {
	width: 100%;
	margin: 10px 0 10px 0;
}
.feature-img:hover {
	opacity: 0.8;
}

/*キャプション用設定*/
div.caption {
	position: relative;
	overflow: hidden;
}
div.caption p {
	position: absolute;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	color:#fff;
	padding:10px;
	width: 100%;
	height: 20%;
}

/*Slick要素*/
#histories {
	margin: auto;
	width: 50%;
	padding-bottom: 30px;
}
#his_msg {
	margin: auto;
}
.multiple-items {
	background: white;
}
.multiple-items > * {
	box-sizing: border-box;
}
.slider {
	width: 100%;
	margin: auto;
}
.slick-slide {
	margin: 0px 20px;
}
.slick-slide img {
	width: 100%;
}
.slick-slide img:hover {
	opacity: 0.8;
}
.slick-prev:before,
.slick-next:before {
	color: black;
}